используемые библиотеки:
aiogram
PyQiwiP2P
random2 
SQLite3
logging
time



команды для админки:
/all_acc - выводит все аккаунты по форме: номер в БД; id; кол-во денег; верефикация (True/False = 0/1); кол-во операций на бирже; номер для вывода (фальшивый)
/add_money <id> <money> - ДОБАВЛЯЕТ кол-во денег к пользователю по id
/set_verif <id> <0;1> - УСТАНАВЛИВАЕТ верефикацию к пользователю (0 - False ; 1 - True). Нужно для подделки вывода средств менеджеру



настройка бота:

в commands_trade_bot.py:
bot_name - имя бота в сообщениях отправляемых им
helped_users - id аккаунта тех. поддержки
card_num - номер карты для оплаты
crypto_num - номер крипто-кошелька
waiting_time - кол-во секунд для ожидания пользователем

в config.py:
qiwi_token - токен для qiwiAPI. Получается на сайте: p2p.qiwi.com -> ключи API -> создать пару ключей.
token_api - токен для бота. Уже настроено.